 /*    light version of progrecss for dokuwiki
 */
 
.progrecss_inline {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-left: 1px;
  margin-right: 1px;
  line-height: 1.3em;
  }

.progrecss_inline .border {
  display: inline-block;
  height: 0.3em;
  margin-top: 0em; /* this will break with very packed paragraphs */
  margin-bottom: 0;
  background-color: #222222;
  }
 
.progrecss_inline .border .bar {
  display: inline-block;
  height: 0.1em;
  background-color: __existing__;
  border: 0;
  text-align: center;
  font-size: 75%;
  color: gray;
  }

.progrecss_inline .caption {
  display: block;
  height: 1em;
  visibility: hidden;
  }

