body {
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.wrap {
    padding-left: 10px;
    width: 99%;
}

h1, h2 {
    text-align: right;
}

h3 {
    background-color: #333;
}

h3 a, h3 a:active {
    text-decoration: none;
    color: white;
}

h3 a:hover, h4 a {
    text-decoration: none;
}

.entry {
    padding-left: 10px;
    width: 80%;
}

.date a, .date a:hover {
    color: #999999;
    text-decoration: none;
}

a,
a:active, a:visited {
    text-decoration: underline;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

