body {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 0.875em;
    color: #333;
}

.wrap {
    padding-left: 0.625em;
    width: 99%;
}

.page_title {
    display: block;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 1em 0;
}

.date_stamp {
    display: block;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

.source {
    margin: 0.5em 0 0.5em 0;
    font-size: 1em;
    font-weight: bold;
    clear: both;
    background-color: #333;
}

.source a, .source a:active, .source a:visited {
    text-decoration: none;
    color: white;
}

.news_title {
    clear: both;
}

.source a:hover, .news_title a {
    text-decoration: none;
    font-weight: bold;
}

.entry {
    padding-left: 0.625em;
    width: 80%;
}

.date a, .date a:hover {
    color: #999999;
    text-decoration: none;
}

img {
    margin-bottom: 1em;
}

a,
a:active, a:visited {
    text-decoration: underline;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

