body {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 14px;
    color: #333;
}

.wrap {
    padding-left: 10px;
    width: 99%;
}

h1, h2 {
    text-align: right;
}

.source {
    margin-bottom: 0.5em;
    font-size: 16px;
    font-weight: bold;
    clear: both;
    background-color: #333;
}

.source a, .source a:active {
    text-decoration: none;
    color: white;
}

.source a:hover, .news_title a {
    font-weight: bold;
    text-decoration: none;
}

.entry {
    min-height: 88px;
    padding-left: 10px;
    width: 80%;
}

.date a, .date a:hover {
    color: #999999;
    text-decoration: none;
}

a,
a:active, a:visited {
    text-decoration: underline;
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

