configuration {
  modi: "drun,window";
  location: 0;
  disable-history: true;
  kb-row-select: "Tab";
  kb-row-tab: "";
  hide-scrollbar: true;
  color-window: "#000000, #00ff00, #00ff00";
  color-normal: "#000000, #ffffff, #000000, #00ff00, #000000";
  color-active: "#000000, #ffffff, #000000, #888888, #000000";
  color-urgent: "#000000, #f00000, #000000, #f00000, #000000";
}
