[Unit]
Description=Redshift display colour temperature adjustment

[Service]
ExecStart=/usr/bin/redshift -l __:__
Restart=always

[Install]
WantedBy=default.target
